/* ------- body -------- */
body{
    background-color: aquamarine;
    color: white;
}
/* --------- each Book card ---------- */
.book-card{
    background-color: darksalmon;
}
/* ------ book info --------- */
.book-info{
    font-weight: 700;
    font-size: 1.2rem;
}

/* total---result--- stylling */
.totalResult{
    font-size: 1.4rem;
    background-color: deeppink;
    font-weight: 700;
    padding: 1.1rem;
    border-radius: 10px;
    margin-bottom: 1.6rem;
}
/* -------- error message ---------- */
.error{
    font-weight: 700;
    font-size: 2rem;
    color: orange;

}
